<div class="container-information">
  <h1>Informacje</h1>

  <div class="question-answer">
    <h4>Co robi aplikacja?</h4>
    <p>Na podstawie danych, które wprowadzasz aplikacja oblicza m.in. średniego spalania paliwa, przejechanych kilometrów
      czy pieniędzy wydanych na paliwo. </p>

    <h4>Jak często muszę wprowadzać dane?</h4>
    <p>Dane najlepiej wprowadzać jak najczęściej. Zachowaj każdy paragon ze stacji a następnie zeskanuj w systemie.
      Licznik kilometrów wprowadzaj conajmniej raz w miesiącu (najlepiej pierwszego dnia miesiąca).
      Czym częściej będziesz wprowadzał dane tym statystyki będą dokładniejsze.
    </p>
  </div>

  <div class="authors">
    <h4>Autorzy aplikacji:</h4>
    <ul>
      <li>Mateusz Balcer</li>
      <li>Szymon Betlewski</li>
      <li>Hubert Gabryszewski</li>
      <li>Mateusz Kucaj</li>
      <li>Sebastian Kemnitz</li>
    </ul>
  </div>
</div>
