:host {
    width: 80%;
}

.container-home {
    width: 100%;
}

h1, h3 {
    text-align: center;
}

.description {
    width: 80%;
    margin: 3em 10% 0 10%;
}

.description > a {
    color: #2980b9;
    text-decoration: none;
}

.description > a:hover {
    text-decoration: underline;
}

.tiles {
    width: 80%;
    margin: 1em 10% 0 10%;
    display: flex;
    flex-direction: column;
}

.tile-row {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.tile {
    width: 200px;
    height: 200px;
    border: 1px solid #FFFFFF;
    background-color: #2980b9;
    border-radius: 10px;
    color: #FFFFFF;
    text-align: center;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tile:focus {
    outline: 0;
}

.tile:hover {
    background-color: #34495e;
}
