<div class="container-stats">
    <h1>Statystyki</h1>
    <div class="choose-stats">
        <mat-form-field>
            <mat-label>Wybierz rodzaj statystyk</mat-label>
            <mat-select (selectionChange)="changeStats($event.value)">
                <mat-option *ngFor="let stat of statsType" [value]="stat.value" >
                    {{stat.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="view-stats">
        <div class="tank-stats" *ngIf="selectedStatsType.value != ''">
            <h3>{{selectedStatsType.viewValue}}</h3>

            <google-chart #chart
                          [title]="title"
                          [type]="type"
                          [data]="dataChart"
                          [columnNames]="columnNames"
                          class="chart">
            </google-chart>
            <table mat-table [dataSource]="receiptStats" class="mat-elevation-z8 table-stats" *ngIf="selectedStatsType.value == 'tank'">
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Data </th>
                    <td mat-cell *matCellDef="let element"> {{element.yearMonth}} </td>
                </ng-container>

                <ng-container matColumnDef="litres">
                    <th mat-header-cell *matHeaderCellDef> Suma zatankowanego paliwa (l) </th>
                    <td mat-cell *matCellDef="let element"> {{element.litres}} </td>
                </ng-container>

                <ng-container matColumnDef="cost">
                    <th mat-header-cell *matHeaderCellDef> Koszt paliwa (zł) </th>
                    <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['date', 'litres', 'cost']; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: ['date', 'litres', 'cost'];"></tr>
            </table>

            <table mat-table [dataSource]="receiptStats" class="mat-elevation-z8 table-stats" *ngIf="selectedStatsType.value == 'fuel'">
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Data </th>
                    <td mat-cell *matCellDef="let element"> {{element.yearMonth}} </td>
                </ng-container>

                <ng-container matColumnDef="min">
                    <th mat-header-cell *matHeaderCellDef> Minimalna cena paliwa (zł) </th>
                    <td mat-cell *matCellDef="let element"> {{element.minCostPerLitre}} </td>
                </ng-container>

                <ng-container matColumnDef="avg">
                    <th mat-header-cell *matHeaderCellDef> Średnia cena paliwa (zł) </th>
                    <td mat-cell *matCellDef="let element"> {{element.averageCostPerLitre}} </td>
                </ng-container>

                <ng-container matColumnDef="max">
                    <th mat-header-cell *matHeaderCellDef> Maksymalna cena paliwa (zł) </th>
                    <td mat-cell *matCellDef="let element"> {{element.maxCostPerLitre}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['date', 'min', 'avg', 'max']; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: ['date', 'min', 'avg', 'max'];"></tr>
            </table>

            <table mat-table [dataSource]="counterStats" class="mat-elevation-z8 table-stats" *ngIf="selectedStatsType.value == 'km'">
                <ng-container matColumnDef="date-from">
                    <th mat-header-cell *matHeaderCellDef> Data od </th>
                    <td mat-cell *matCellDef="let element"> {{element.startLocalDate}} </td>
                </ng-container>

                <ng-container matColumnDef="date-to">
                    <th mat-header-cell *matHeaderCellDef> Data do </th>
                    <td mat-cell *matCellDef="let element"> {{element.endLocalDate}} </td>
                </ng-container>

                <ng-container matColumnDef="distance">
                    <th mat-header-cell *matHeaderCellDef> Przejechany dystans (km) </th>
                    <td mat-cell *matCellDef="let element"> {{element.distanceTravelled}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['date-from', 'date-to', 'distance']; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: ['date-from', 'date-to', 'distance'];"></tr>
            </table>

            <table mat-table [dataSource]="counterStats" class="mat-elevation-z8 table-stats" *ngIf="selectedStatsType.value == 'usage'">
                <ng-container matColumnDef="date-from">
                    <th mat-header-cell *matHeaderCellDef> Data od </th>
                    <td mat-cell *matCellDef="let element"> {{element.startLocalDate}} </td>
                </ng-container>

                <ng-container matColumnDef="date-to">
                    <th mat-header-cell *matHeaderCellDef> Data do </th>
                    <td mat-cell *matCellDef="let element"> {{element.endLocalDate}} </td>
                </ng-container>

                <ng-container matColumnDef="fuel-consumed">
                    <th mat-header-cell *matHeaderCellDef> Zużyte paliwo (l) </th>
                    <td mat-cell *matCellDef="let element"> {{element.fuelConsumed}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['date-from', 'date-to', 'fuel-consumed']; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: ['date-from', 'date-to', 'fuel-consumed'];"></tr>
            </table>

            <table mat-table [dataSource]="counterStats" class="mat-elevation-z8 table-stats" *ngIf="selectedStatsType.value == 'usage100km'">
                <ng-container matColumnDef="date-from">
                    <th mat-header-cell *matHeaderCellDef> Data od </th>
                    <td mat-cell *matCellDef="let element"> {{element.startLocalDate}} </td>
                </ng-container>

                <ng-container matColumnDef="date-to">
                    <th mat-header-cell *matHeaderCellDef> Data do </th>
                    <td mat-cell *matCellDef="let element"> {{element.endLocalDate}} </td>
                </ng-container>

                <ng-container matColumnDef="fuel-consumed-100-km">
                    <th mat-header-cell *matHeaderCellDef> Średnie zużycie paliwa (l/100km) </th>
                    <td mat-cell *matCellDef="let element"> {{element.avgFuelConsumedOn100km}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['date-from', 'date-to', 'fuel-consumed-100-km']; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: ['date-from', 'date-to', 'fuel-consumed-100-km'];"></tr>
            </table>
        </div>
    </div>
</div>
