:host {
  width: 80%;
}

.container-scanner {
  width: 100%;
}

h1, .or {
  text-align: center;
}

.url-receipt {
  width: 80%;
  margin: 0 10%;
}

.upload-file {
  margin: 0 10%;
}

.btn-upload-file {
  margin-left: 1em;
}

.btn-scanner {
  margin: 0 10%;
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
}

.btn-scanner > button {
  margin-left: 1em;
}

.recognize-list {
  margin: 3em 10%;
}

.edit-field {
  margin-left: 1em;
}
