<div class="container-scanner">
  <h1>Skanowanie paragonu</h1>
  <div class="scanner">
    <mat-form-field class="url-receipt">
      <input matInput placeholder="Wpisz adres url zdjęcia paragonu" [(ngModel)]="url">
    </mat-form-field>
    <p class="or">lub</p>
    
    <div class="upload-file">
      <label for="file" *ngIf="fileToUpload!=null">{{fileToUpload.name}}</label>
      <label for="file" *ngIf="fileToUpload==null">Wrzuć zdjęcie paragonu z dysku</label>
      <button type="button" mat-raised-button (click)="fileInput.click()" class="btn-upload-file">Wybierz plik</button>
      <input hidden (change)="onFileSelected($event.target.files)" #fileInput type="file" id="file">
    </div>

    <div class="btn-scanner">
      <button mat-raised-button color="primary" (click)="scanReceipt()">Skanuj</button>
      <mat-progress-spinner mode="indeterminate" color="primary" *ngIf="progress" diameter="35"></mat-progress-spinner>
    </div>

    <div class="recognize-list" *ngIf="receipt.pricePerLitres != null">
      <h2>Rozpoznano: </h2>
      <mat-list role="list">
        <mat-list-item role="listitem">
          Data paragonu:
          <mat-form-field class="edit-field">
            <input matInput [matDatepicker]="picker" [(ngModel)]="receipt.receiptLocalDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item role="listitem">
          Ilość zatankowanych litrów: <mat-form-field class="edit-field"><input matInput [(ngModel)]="receipt.litres"></mat-form-field>
        </mat-list-item>
        <mat-list-item role="listitem">
          Cena za litr: <mat-form-field class="edit-field"><input matInput [(ngModel)]="receipt.pricePerLitres"></mat-form-field>
        </mat-list-item>
        <mat-list-item role="listitem">
          Cena za całość: <mat-form-field class="edit-field"><input matInput [(ngModel)]="receipt.cost"></mat-form-field>
        </mat-list-item>
        <mat-list-item role="listitem">
          <button mat-raised-button color="primary" (click)="saveReceipt()">Zapisz paragon</button>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div class="recognized-text"></div>
</div>
