:host {
  width: 80%;
}

.container-scanner {
  width: 100%;
}

h1, .or {
  text-align: center;
}

.url-receipt, .turned-receipt {
  width: 80%;
  margin: 0 10%;
}

.upload-file{
  margin: 0 10%;
}

.btn-upload-file, .edit-field, .btn-scanner > button {
  margin-left: 1em;
}

.turned-receipt{
  margin: 1em 10%;
}

.btn-scanner {
  margin: 0 10%;
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
}

.recognize-list {
  margin: 3em 10%;
}
