<div class="container-counter">
  <h1>Licznik kilometrów</h1>
  <mat-form-field class="counter-state">
    <input matInput placeholder="Wpisz stan licznika">
  </mat-form-field>

  <mat-form-field class="counter-date">
    <input matInput [matDatepicker]="picker" placeholder="Wybierz datę">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div class="btn-counter">
    <button mat-raised-button color="primary">Zapisz</button>
  </div>
</div>
