:host {
  width: 80%;
}

.container-history {
  width: 100%;
}

h1, h3 {
  text-align: center;
}

.history-panel {
  width: 80%;
  margin: 0 10%;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
