<div class="container-history">
  <h1>Historia zeskanowanych paragonów</h1>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel class="history-panel" *ngFor="let receipt of dataSource">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Data: {{receipt.receiptLocalDate}}
        </mat-panel-title>
        <mat-panel-description>
          Cena za paliwo: {{receipt.cost}} zł
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <mat-list-item role="listitem">Data paragonu: {{receipt.receiptLocalDate}}</mat-list-item>
        <mat-list-item role="listitem">Ilość zatankowanych litrów: {{receipt.litres}} l</mat-list-item>
        <mat-list-item role="listitem">Cena za litr: {{receipt.pricePerLitres}} zł</mat-list-item>
        <mat-list-item role="listitem">Cena za całość: {{receipt.cost}} zł</mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
